@charset "utf-8";

* {
    margin: 0px;
}

body {
    background-color: rgb(241, 229, 211);
}

#container {
    width: 750px;
    margin: 10px auto;
    padding: 20px;
    background-color: antiquewhite;

}

header {
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}

button {
    background-color: floralwhite;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#scale_input {
    flex-basis: 20%;
    display: grid;
    place-items: center;
}

#scale_input p {
    margin: 1px;
    text-align: center;
}

#scale_input input {
    width: 40px;
}



#select_etc_cont {
    flex-basis: 20%;
    display: grid;
    place-items: center;
}

#select_etc_cont button {
    padding: 5px 15px;
    margin: 0;
}

#select {
    height: 25px;
    width: 50px;
}


/*４つのボタン*/

#submit {
    width: 120px;
    height: 50px;
    margin-top: 10px;
}

#form {
    flex-basis: 15%
}


header button {
    margin: 10px;
    padding: 5px;
}

#start {
    flex-basis: 25%;
}

#stop {
    flex-basis: 10%;
}

button:disabled {
    cursor: auto;
}

#next {
    flex-basis: 10%;
}


/*セル関係*/

#n_th {
    margin-left: 10px;
    font-size: 25px;
}

#table {
    border-collapse: collapse;
    margin: 10px;
}

td {
    border: 1px solid black;
    height: 12px;
    width: 12px;
    background-color: white;
}

/*「生」状態のレイアウト*/
td.on {
    background-color: black;
    border-color: white;
}